.container-small-card{
    border: solid white 1px;
    width: 700px;
    margin-bottom: 15px;
}

.container-small-card-content{
    display: flex;
    flex-direction: row;
}

.container-small-card img{
    width: 200px;
    min-width: 200px;
    margin-right: 10px;
}

.small-card-title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-small-card-separator{
    margin-top: 10px;
}